body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

form{
    background-color: white;
    padding : 30px;
    border-radius: 10px;
}

form h1{
    font-size: 20px;
    text-align: center;
}

form .seperator{
    width: 100%;
    height: 1px;
    background-color: rgb(37, 9, 37);
}

form .seperator2{
    width: 80px;
}

form .body_form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .body_form .box{
    margin-top: 20px;
}


form .body_form .right{
    margin-left: 30px;
}

form .body_form .right .box{
    margin-left: 30px;
}

form .footer button{
    margin-top: 10px;
    background-color: rgb(62, 53, 62) ;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

form .footer button:hover{
    transform: scale(1.05);
}

input[name='floor']{
    display: block;
    width: 20px;
    margin-left: -20px;
    margin-top: 6px; // vertically align radio button with text
    padding: 0;
    -webkit-appearance: radio;
    
}
   
